# Configurações de Segurança
FLASK_SECRET_KEY=sua_chave_secreta_aqui
FLASK_ENV=development  # Mudar para 'production' em produção

# Configurações de Cookie
SESSION_COOKIE_SECURE=False  # Mudar para True em produção com HTTPS
SESSION_COOKIE_HTTPONLY=True
SESSION_COOKIE_SAMESITE=Lax

# Configurações de Upload
MAX_CONTENT_LENGTH=67108864  # 64MB em bytes