<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos -  SUA-MARCA-AQUI</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!--teste visual sem url-->
    <link rel="stylesheet" href="../static/produtos.css">
</head>
<body>
  <div class="tech-bg"></div>
  <div class="tech-grid"></div>
  <a href="{{ url_for('home') }}" class="btn-voltar">Voltar</a>

  <main class="produtos-container">
    <h1 class="titulo-produtos">Produtos {% if categoria_nome %}"{{ categoria_nome }}"{% endif %}</h1>
    <div class="cards-grid">
      {% for produto in produtos %}
        <div class="card">
          {% if produto[6] %}
            <img src="{{ url_for('static', filename=produto[6].replace('\\', '/')) }}" alt="{{ produto[1] }}">
          {% endif %}
          <h3>{{ produto[1] }}</h3>
            <p class="preco">R$ {{ '{:,.2f}'.format(produto[3]).replace(',', 'X').replace('.', ',').replace('X', '.') }}</p>
          <a href="{{ url_for('produto', id=produto[0]) }}" class="btn-destaque">Ver Produto</a>
        </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
